Source: ros-melodic-sensor-filters
Section: misc
Priority: optional
Maintainer: Martin Pecka <peckama2@fel.cvut.cz>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-filters, ros-melodic-image-transport, ros-melodic-nodelet, ros-melodic-roscpp, ros-melodic-sensor-msgs, ros-melodic-point-cloud-transport
Homepage: https://github.com/ctu-vras/sensor_filters
Standards-Version: 3.9.2

Package: ros-melodic-sensor-filters
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-filters, ros-melodic-image-transport, ros-melodic-nodelet, ros-melodic-roscpp, ros-melodic-sensor-msgs, ros-melodic-point-cloud-transport
Description: Simple sensor filter chain nodes and nodelets
